.footer {
    width: 100%;
    height: 326px;

    border-top: 1px solid var(--text-secondary);
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 0 16px;

    margin: auto;


}

.linksContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;


    h6 {
        font-size: 1.4rem;
        color: var(--text-primary);
        margin-bottom: 8px;

        text-align: start;
    }

    li {
        color: var(--text-secondary);

        &:not(&:last-child) {
            margin-bottom: 4px;
        }
    }

    a {
        font-size: 1.3rem;
        color: var(--text-secondary);

        transition: 0.5s filter;

        &:hover {
            filter: brightness(1.5);
        }

    }

}

.linksDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

}


.copyrightContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 53px;


    p {
        font-size: 1.2rem;
    }
}