@use '../../styles/mixin.scss' as mixin;


.imageSection {
    height: 929px;
    width: 100%;
    background-image: url(/cityimage.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer {

    @include mixin.default-section-style;

    @include mixin.fonts-default-style($text-align: start);

    a {
        margin-top: 140px;
    }
}
