@use '../../styles/mixin.scss' as mixin;


.imageSection {
    width: 100%;
    min-height: 929px;
    background-image: url(/cityimage.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer {

    @include mixin.default-section-style;

    @include mixin.fonts-default-style($text-align-h2: start);

    a {
        margin-top: 140px;
    }

    
}


@media (max-width: 740px){
    .imageContainer {

        a {
            margin-top: 80px;
        }
    }
}
